.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
button {
  padding: 5px 15px;
  background: grey;
  color: #fff;
}

.accordian {
  width: 500px;
}

.item {
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: grey;
  color: #fff;
  padding: 0px 14px;
  cursor: pointer;
}

.content {
  background: #bebebe;
  padding: 5px 15px;
  text-align: left;
}
