.tree-view-container {
  min-height: 100vh;
  width: 350px;
  background-color: #625f5f;
  color: #fff;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
